extends layout

block content
	#banner.page-header
		.row
			.col-md-6.col-sm.12
				h1= title
	.row
		.col-md-6.col-sm-12
			p
				| locater was created to help people find places to sit down and get bit of work done.
				| </br>
				| Lorem ipsum dolor sit amet, concetetur adipiscing elit.